.library {
  background-image: url("/assets/images/blurred_backgrounds/blur_bg_3.jpg");
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  max-width: 100%;
}

.album-list {
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

.album {
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

.album img {
    height: 16rem;
}

.album-info {
    width: 100%;
    justify-content: space-between;
    color: white;
    padding-top: 1rem;
}
